/* Side bar */

.sideBarContainer {
  position: fixed;
  height: 100%;
  width: 44px;
  background-color: #363842;
  z-index: 99 !important;
  top: 44px;
}
.sideBar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -4px;
  width: 50px;
}
.side {
  flex: 1;
  margin: 10px 10px 15px;
  font-size: 30px;
  height: 40px;
  width: 40px;
  /* transition: all 1s ease-in; */
  animation: fadeIn 0.5s ease-out;
}
.side:hover {
  transition: color 1s ease-in;
  color: #baccd4;
}
.but {
  background-color: transparent;
  border: none;
  margin-left: 3px;
}
.a {
  color: rgb(68, 163, 163);
}
.b {
  color: rgb(182, 56, 176);
}
.c {
  color: rgb(75, 48, 150);
}
.d {
  color: rgb(219, 69, 69);
}
.e {
  color: rgb(173, 87, 16);
}
.f {
  color: rgb(144, 146, 15);
}
.message {
  position: absolute;
  left: 45px;
  padding: 8px;
  margin-top: -41px;
  height: 30px;
  background-color: #363842;
  color: rgb(224, 207, 207);
  white-space: nowrap;
  overflow: auto;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 0px 18px 18px 0px;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
.iconSide:active {
  animation: minShake 0.2s linear;
}

@keyframes minShake {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Top bar */

.topBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #363842;
  width: 100%;
  justify-content: flex-end;
  z-index: 99;
  height: 44px;
}
.thacoder {
  margin: 1px 10px;
  font-size: 32px;
  text-decoration: none;
  color: rgb(245, 219, 180);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2px 0;
  padding: 0;
  width: 100vw;
  height: 36px;
  background-color: #363842;
}
.searchButton {
  border-radius: 0 8px 8px 0;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  flex-grow: 1;
  cursor: pointer;
  font-size: 22px;
  position: relative;
  top: 6px;
}
.searchInput {
  padding: 8px;
  background-color: #4b4d64;
  color: #fff;
  flex-grow: 3;
  border: none;
  border-radius: 8px 0 0 8px;
  width: 26vw;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 15px;
}
.user {
  margin-right: 15px;
  display: flex;
  margin: 0px 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.userlink {
  margin-right: 10px;
  text-decoration: none;
  color: #e0eaee;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 2px;
}
.userlink:active {
  transform: translate(0.5px, 0.5px);
  background-color: rgb(52, 194, 128);
}
.signUp {
  background-color: rgb(14, 98, 124);
}
.logIn {
  background-color: rgb(143, 2, 101);
}

@media only screen and (max-width: 640px) {
  .search {
    margin: 0;
  }
  .thacoder {
    margin: 4px 3px;
    font-size: 26px;
  }
  .user {
    margin: 0;
  }
  .searchInput {
    margin: 4px 0 0;
  }
  .searchButton {
    margin: 0;
    opacity: 0;
  }
  .signUp {
    margin: 1px;
  }
  .logIn {
    margin: 1px;
  }
}
