.sideBarContainer {
  position: fixed;
  height: 100%;
  width: 50px;
  background-color: #363842;
  z-index: 99 !important;
  top: 50px;
}
.side-bar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
}
.top-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #363842;
  width: 100%;
  justify-content: space-between;
  z-index: 99;
}

.logo {
  margin-left: 15px;
}
.user {
  margin-right: 15px;
}

.side {
  flex: 1;
  margin: 10px 10px 15px;
  font-size: 30px;
  height: 40px;
  width: 40px;
  transition: all 1s ease-in;
}

.butt {
  background-color: transparent;
  border: transparent;
  margin: 18px 4px;
  cursor: pointer;
}

.a {
  color: rgb(68, 163, 163);
}

.b {
  color: rgb(182, 56, 176);
}

.c {
  color: rgb(75, 48, 150);
}
.e {
  color: rgb(173, 87, 16);
}
.d {
  color: rgb(219, 69, 69);
}
.message {
  position: absolute;
  left: 45px;
  padding: 8px;
  margin-top: -41px;
  height: 30px;
  background-color: #363842;
  color: rgb(224, 207, 207);
  white-space: nowrap;
  overflow: auto;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 0px 18px 18px 0px;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
