.modalContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 35%;
  height: 56vh;
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(96, 48, 150, 0.35);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.3);
}

.modalHeaderTitle {
  font-size: 20px;
  margin: 10px;
}

.modalFooter {
  text-align: center;
  margin-top: 15px;
}

.createButton {
  padding: 10px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  background-color: #445a63;
  color: #fff;
  flex-grow: 1;
  cursor: pointer;
  margin: 12px 0px;
  font-size: 18px;
  width: 90%;
}

.pbutton {
  margin: 0;
}
.createButton:active {
  transform: translate(0.5px, 0.5px);
  background-color: #3a4950;
}
.createInput {
  padding: 8px;
  margin-right: 3px;
  background-color: #334146;
  color: #fff;
  flex-grow: 3;
  border: none;
  border-radius: 8px;
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.creating {
  margin-top: 35px;
  margin-left: 5vw;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: create 1.5s linear infinite;
}

@keyframes create {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
