.modalContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 35%;
  height: 50%;
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(96, 48, 150, 0.35);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.3);
}

.modalHeaderTitle {
  font-size: 20px;
  margin: 10px;
}

.modalFooter {
  text-align: center;
  margin-top: 15px;
}

.createButton {
  padding: 10px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  background-color: #445a63;
  color: #fff;
  flex-grow: 1;
  cursor: pointer;
  margin: 10px 0px;
  font-size: 18px;
  width: 90%;
}

.pbutton {
  margin: 0;
}
.createButton:active {
  transform: translate(0.5px, 0.5px);
  background-color: #3a4950;
}
.createInput {
  padding: 8px;
  margin-right: 3px;
  background-color: #334146;
  color: #fff;
  flex-grow: 3;
  border: none;
  border-radius: 8px;
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
  color: red;
  margin: 10px;
}
