.editor-wrapper {
  width: 96%;
  margin-left: 50px;
}
.editors {
  display: flex;
  margin: 0px 15px 10px 0px;
}

.editor {
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
}

.format {
  position: relative;
  height: 100%;
  border: 0;
  font-size: 14px;
  background-color: #cd3158;
  color: white;
  padding: 6px 20px;
  margin: 6px;
  opacity: 0;
  transition: opacity ease-in 0.4s;
  cursor: pointer;
}

.format:active {
  background-color: #ad284a;
  transform: translate(0.5px, 0.5px);
}
.editor:hover .format {
  opacity: 1;
}

.frame iframe {
  background-color: white;
  border: 0;
  width: 98%;
  height: 45vh;
  margin-left: 12px;
  margin-top: 2px;
}

.save {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  transition: all 1s ease-in;
  font-size: 30px;
  cursor: pointer;
}
.save:hover {
  color: thistle;
}

.a {
  color: rgb(48, 48, 150);
}

.b {
  color: rgb(150, 48, 145);
}

.c {
  color: rgb(48, 130, 150);
}
.e {
  color: rgb(180, 133, 133);
}

.projectTitle {
  margin-left: 1x0px;
  font-weight: 600;
  font-size: 28px;
  margin-top: 13px;
}
.titleContianer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 47px;
}
.updateContainer {
  position: relative;
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.full {
  position: relative;
  left: -8vw;
  top: 4vh;
  margin-right: 30px;
}

.updateWrapper {
  position: fixed;
  top: 7vh;
  left: 25vh;
  margin-top: 5px;
}

.updateButton {
  border: none;
  background: none;
  color: aquamarine;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  text-decoration: underline;
  margin-top: -10px;
}
.updateIcon {
  color: aqua;
  font-size: 24px;
}
.saveButton {
  padding: 7px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  background-color: #445a63;
  color: #fff;
  flex-grow: 1;
  cursor: pointer;
  margin: 10px 0px;
  font-size: 18px;
}
.updateInput {
  padding: 8px;
  margin-right: 3px;
  background-color: #4b4d64;
  color: #fff;
  flex-grow: 3;
  border: none;
  border-radius: 8px;
  width: 70%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
