.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
  /* background-color: red; */
  margin-left: 34px;
}
.intro {
  font-size: 40px;
  width: 70vw;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 5vw;
  padding: 10px;
}

.buttona {
  font-size: 32px;
  width: 188px;
  cursor: pointer;
  position: relative;
  margin: 0px 20px;
  border-radius: 10px;
  border-style: double;
  margin-left: 20px;
  background-color: rgb(67, 69, 92);
}
.buttona:hover {
  animation: shake 1s linear;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
    padding: 8px;
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
    padding: 8px;
  }
  100% {
    transform: rotate(0deg);
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10vw;

  width: 40vw;
  height: 52px;
  /* left: 20vw; */
  background-color: #363842;
}

.homeList {
  margin-top: -30vw;
}
