.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.intro {
  font-size: 40px;
  width: 70vw;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 5vw;
  padding: 10px;
}

.buttona {
  font-size: 32px;
  width: 32vw;
  cursor: pointer;
  position: relative;
  margin: 0px 20px;
  border-radius: 10px;
  border-style: double;
}
