.profileProjectsList {
  margin-top: 12px;
}
.ProfileListContainer {
  margin: 20em;
}
.profileContainer {
  margin: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.user {
  position: relative;
  display: flex;
}
.imageProfileContainer {
  position: absolute;
  width: 27em;
  height: 16em;
  border: 2px solid rgb(75, 52, 52);
  overflow: hidden;
  border-radius: 25px;
  top: 0em;
  left: 4em;
  background-color: rgba(80, 72, 116, 0.247);
}
.userProfileImage {
  height: 16em;
  object-fit: contain;
}
.editingImage {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  bottom: 40px;
  right: 25px;
  color: rgb(194, 109, 211);
  cursor: pointer;
}
.editImage {
  margin: 18px 4px;
  padding: 0;
}
.editText {
  margin-top: 16px;
}
.editingProfile {
  position: absolute;
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  top: 233px;
  left: -3px;
  color: rgb(194, 109, 211);
  cursor: pointer;
}
.uploadImage {
  position: absolute;
  top: 18em;
  left: 7em;
}
.cancel {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 24em;
}
.userInfo {
  position: absolute;
  text-align: start;
  top: -16px;
  left: 26em;
  margin-right: 10px;
  width: 12em;
  font-size: 21px;
  /* font-variant: small-caps; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.projects {
  position: relative;
  top: 23em;
  margin-left: 5em;
}

/* .profileProjects {
  display: inline-block;
   width: 30vw;
  overflow: hidden; 
  margin: 0 10px;
  width: 6em;
} */
.seeAllProjects {
  position: relative;
  top: 0em;
  left: 25em;
  margin: 12px;
  border: none;
  background-color: rgb(160, 134, 86);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  width: 20vw;
  margin-bottom: 2em;
  font-size: 15px;
}
.forUpdate {
  margin: 0 0 0 5em;
}
.labelUpate {
  position: relative;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 80px;
  z-index: -1;
}
.profileLabels {
  padding: 0px;
}
.email {
  margin: -3px 0 0 15px;
  padding: 6px;
}

.labelValues {
  margin: 24px 0;
}
.noUserImage {
  font-size: 200px;
}
/* Upload image styling */
input[type="file"] {
  display: none;
}
.imageUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  /* padding: 6.5x 12px 11.5px 12px; */
}
.imageUpload:active {
  opacity: 0.7;
}
.upload {
  position: relative;
  padding: 11.5px 12px 6.5px 12px;
  left: 50px;
  margin-left: 10px;
}
.upload:active {
  opacity: 0.7;
}
.xx {
  background-color: rgba(182, 248, 226, 0.705);
}
.xy {
  background-color: rgba(248, 106, 172, 0.61);
}
.uploadText {
  position: relative;
  top: -2px;
}
@media only screen and (max-width: 840px) {
  /* .profileContainer {
    background-color: lawngreen;
  } */
  .userInfo {
    top: 14em;
    left: 5em;
  }
  .projects {
    position: relative;
    top: 39em;
  }
  .seeAllProjects {
    top: -4em;
    left: 9em;
  }
  .profileProjects {
    width: 50vw;
  }
  .imageProfileContainer {
    left: 1.4em;
    position: relative;
  }
  .uploadImage {
    left: 0;
  }
  .lisContainer {
    left: -7em;
  }
  .editingImage {
    margin-left: 10em;
  }
  .profileProjectsList {
    position: relative;
    right: 4em;
    top: -14em;
  }
}
