.projectsList {
  position: absolute;
  display: flex;
  top: 10vh;
  left: 20vh;
  font-size: 30px;
  /* flex-wrap: wrap; */
  z-index: 1;
}

.projectsList .icon {
  font-size: 60px;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: column;
  width: 14vw;
  text-decoration: none;
}
.project:hover {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.name {
  margin: 0 auto;
  text-decoration: none;
  color: rgb(204, 203, 203);
}
