.projectsList {
  margin-left: 80px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 30px;
}
.project {
  margin: 20px 5px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.project:hover {
  animation: float 1.5s ease-in-out infinite;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.icon {
  font-size: 60px;
  margin: 0 auto;
}
.name {
  margin: 0 auto;
  color: rgb(204, 203, 203);
}
